{% extends "base.html" %}

{% block content %}
  <div class="container py-4">
    <h2>{{ book.title }}</h2>
    <hr>
    <small>{{ book.released.year }} - {{ book.genre }} <i class="fa fa-star"></i></small>
    <p><b>Released:</b> {{ book.released|date:"d E Y" }}</p>
    <hr>
    <p>{{ book.description }}</p>
    <small>Description length: {{ book.description|length }}</small>
    <hr>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'viewer:update_movie' movies.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'viewer:delete_movie' movies.id %}">Delete</a>
    {% endif %}
  </div>
{% endblock %}